<div class="b" style="top:100px; width: ;height:480px ">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<p><h2>RJ Fanotiana</h2> le CEO et fondateur du site Commérage, a déménagé à Madagascar en 2019, Étudient chez Sayna pour la formation #The_Hacking_Project. il s'est donné pour mission de faire site mieux que les autre réseaux sociaux pour faire du commerage
</p>
</div>
