<br/><br/><br/>
<div class="b" style="top:100px; width: ;height:400px ">

	<h1>Gossip#commentaire</h1>

	<div class="card">
		<h5 class="card-header">User</h5>
		<div class="card-body">
			<h5 class="card-title">titre</h5>
			<p class="card-text">body text content.</p>

		</div>

	</div>
	<div class="card">
		<form action="#" method="POST">
			<input type="text" name="user">
			<input type="text" name="body">
			<input type="submit" value="commenter">
		</form>
	</div>
	<br/>
	<p>les commentaire arrive bientot</p>
</div>